body {
  background: #fff;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  width: 100%;
}

/*
=============================
Buttons, Anchor
=============================
*/
a,
button {
  cursor: pointer;
}

$horizontalMargin: 5%;
$lineHeight: 22px;
$lineSpacing: 1px;

.hero {
  position: relative;
  width: 100%;
  height: 800px;
  color: white;

  $navbarFont: 20px;

  &__content {
    padding: 0 $horizontalMargin;
    position: absolute;
    width: 100%;
    margin: 120px 0;

    &--title {
      font-size: 62px;
      font-weight: normal;
    }

    &--text {
      line-height: 25px;
      font-size: 16px;
      padding: 30px 0;
    }
  }

  .bg-banner {
    position: absolute;
    width: 100%;
    height: 90%;
  }

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    margin: 25px $horizontalMargin;
    font-size: $navbarFont;

    .logo {
      width: 35px;
      font-size: 34px;
    }

    .burger-menu {
      display: none;
    }

    .nav-links {
      &__item {
        font-size: $navbarFont;
      }
    }

    .button {
      font-size: $navbarFont;
    }
  }
}

.page-container {
  * {
    color: rgb(88, 88, 88);
  }
  margin: 50px $horizontalMargin;
  margin-bottom: 0;

  .section-1 {
    position: relative;

    .multiline-dots--1 {
      position: absolute;
      top: -540px;
    }

    .multiline-dots--2 {
      position: absolute;
      left: -300px;
    }
  }

  .section-2 {
    background-color: #f5f5f5;
    margin: 50px -#{$horizontalMargin};
    padding: 50px 5%;

    .triangular-shape {
      position: relative;
    }
    .traingular-image {
      position: absolute;
      left: -350px;
      top: -320px;
      z-index: 0;
    }
    .iphone-skewed {
      z-index: 1;
    }
  }

  .section-4 {
    margin: 50px -#{$horizontalMargin + 1%};
    position: relative;

    &-bg {
      position: relative;
      background-image: url("/assets/images/section-4-bg.png");
      min-height: 600px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;

      .play-button {
        cursor: pointer;
      }

      .bottom-shape {
        position: absolute;
        bottom: -1px;
        width: 100%;
      }
    }
  }

  .section-6 {
    background-color: #f5f5f5;
    margin: 50px -#{$horizontalMargin};
    padding: 50px 5%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

// Cards
.card {
  padding: 25px;
  min-height: 200px;
  background: #fff;
  filter: drop-shadow(5px 8.66px 43px rgba(192, 158, 222, 0.43));
  border-radius: 15px;

  &--shapeless {
    filter: none;
  }
}

.feature-card {
  margin: 10px;
}

// Buttons
.button {
  outline: none;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: normal;
  padding: 14px 38px;
  border-radius: 25px;
  transition: all 800ms ease-in-out;
  background: linear-gradient(to top, #8422ff 0%, #3bdafb 100%);
  // filter: drop-shadow(4px 6.93px 44px rgba(103, 63, 173, 0.75));
  box-shadow: 4px 16px 44px -6px rgb(103, 63, 173);
}

/*
Text
*/
.text-center {
  text-align: center;
}

.title {
  font-size: 30px;
  line-height: $lineHeight * 1.5;
  letter-spacing: $lineSpacing;
}

.subtitle {
  font-size: 24px;
  line-height: $lineHeight * 1.7;
  letter-spacing: $lineSpacing;
}
.text {
  font-size: 16px;
  line-height: $lineHeight / 1.2;
  letter-spacing: $lineSpacing;
  font-weight: lighter;
}
.caption {
  font-size: 10px;
  line-height: $lineHeight;
  letter-spacing: $lineSpacing;
}

.margin {
  &__vert {
    &--10 {
      margin: 10px 0;
    }
  }
}

.width {
  &--20percent {
    width: 20%;
  }
  &--40percent {
    width: 40%;
  }
  &--60percent {
    width: 60%;
  }
  &--80percent {
    width: 80%;
  }
  &--100percent {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {

  .navbar {
    z-index: 10;

    .burger-menu {
      display: block !important;
    }

    .nav-links {
      display: none;
    }

    @keyframes slide-nav {
      from {
        transform: translateY(-200px);
      }
      to {
        transform: translateY(0);
      }
    }

    // &:hover {
      .nav-links-mobile {
        position: relative;
        display: flex;
        flex-flow: column;
        background: rgba(0, 0, 0, 0.801);
        border-radius: 12px;
        height: 100%;
        animation: slide-nav 600ms ease-in-out;

        &__item {
          padding: 10px;
          border-radius: 12px;
          cursor: pointer;
          
          &:active, &:active {
            background-image: linear-gradient(to top, #8422ff 0%, #3bdafb 100%);
          }
        }
      }
    // }
  }

  .page-container {
    margin-top: 100px;
  }
}

@media screen and (max-width: 480px) {
  .bg-banner {
    position: absolute;
    background-size: cover;
  }

  .page-container {
    .section-4-bg {
      min-height: 450px;
    }
  }

  .hero {
    height: 760px;
    &__content {
      &--title {
        font-size: 40px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .hero {
    height: 640px;
  }

  .bg-banner {
    position: absolute;
    background-size: cover;
  }

  .page-container {
    .section-4-bg {
      min-height: 400px;
    }
  }
}

/*
===================
Animations
===================
*/
.slide {
  &__from-left {
    animation: slide-from-left 1.6s ease-in;
  }
  &__from-right {
    animation: slide-from-right 1.6s ease-in;
  }
  &__from-top {
    animation: slide-from-top 1.6s ease-in;
  }
  &__from-bottom {
    animation: slide-from-bottom 1.6s ease-in;
  }
}

@keyframes slide-from-left {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-from-right {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-from-bottom {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-from-top {
  from {
    opacity: 0;
    transform: translateY(-300px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
